input {
  file {
    path => "/opt/kibana/src/plugins/home/server/services/sample_data/data_sets/global_info.csv"
    start_position => "beginning"
  }
}
filter {
  csv {
    columns => [ "id", "id_merge", "fechahora", "fecha", "hora", "estacion_real", "magnitud", "descripcion_magnitud", "factor_calculo_horario", "ica_parcial", "valor_magnitud", "provincia", "municipio", "dia_de_la_semana", "mag81_vel_viento", "mag82_dir_viento", "mag83_temperatura", "mag86_humedad", "mag87_presion_atm", "mag88_radiacionUV", "mag89_precipitacion", "ESTACION", "DIRECCION", "location" ]
    separator => ";"
  }
  date{
    match => ["fechahora","yyyy-M-d HH:mm"]
    target => "fechahora"
  }
}
output {
  elasticsearch {
  hosts => ["59f96e65d9bd:9200"]
  index => "global_info"
  }
}
